* {
    padding: 0px;
    margin:0px;
    text-decoration: none;
    list-style: none;
    
}


body{
    height: 5000px;
}
header {
    height: 91px;
    background-color: black;
    width: 100%;
    color:white;
    display: flex;
    justify-content: space-between;
    line-height: 91px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__left {
    display: flex;
    justify-content: space-between;
}
.header_language{
    margin-left: 10rem;
    
}
.header_language select {
    color : white;
    background-color: black;
    border: 1px solid black;
    margin-left: 32px;
}
.header__money{
    margin-left: 34px;
}
.header__money select {
    color : white;
    background-color: black;
    border: 1px solid black;
    margin-left: 14px;
}
.header__money img {
    margin-top: 0.5rem;
}
.header__track {
    display: flex;
    margin-left: 35px;
}
.header__track i {
    line-height: 91px;
}
.header__track a{
    margin-left: 13px;
    color: white;
}
.header__location{
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
}
.header__location p{
    color: white;
}
.header__location img{
    line-height: 23px;
    display: block;
    margin-top: 2rem;  
}
.header__right a{
   color: white;   
   line-height: 24px;
}
.header__right a:nth-child(3){
    margin-right: 10rem;
}
.header__right a:nth-child(2){
    margin-right: 3rem;
}
.header__right a:nth-child(1){
    margin-right: 1rem;
}



.navmenu__logo img{
    margin: 0px auto;
    display: block;
}
.navmenu__logo  {
    margin-top: 15rem;
}
.navmenu__li{
    display: flex;
    justify-content: space-between;
}
.navmenu__li> ul {
    display: flex;
    justify-content: space-between;
    margin-left: 26rem;
    margin-top: 100px;
}
.navmenu__li ul li ul li {
    display: none;
    background-color:#000;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    

}
.navmenu__li ul li ul{
    position: absolute;
    padding: 12px 0px;
    width: 100px;
}
.navmenu__li ul li a {
    color: #b2b2b2;
    font-size: 16px;
    line-height: 30px;  
    text-transform: uppercase;
    position: relative;
}
.navmenu__li ul li:hover ul li {
    display: block;
}
.navmenu__li> ul>li {
    margin-left: 30px;
}
.navmenu__li> ul>li:nth-child(1){
    margin-left: 0px;
}
.navmenu_search input {
    border: none;
    outline: none;
    width: 106px;
    font-size: 13px;
    color: #b2b2b2;
    text-transform: uppercase;
}
.navmenu_search {
    margin-top: 100px;
    margin-right: 15rem;
}

.w3-content{
    position: relative;
    margin-top: 5rem;
}
.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
button, select {
    text-transform: none;
}
 *:before, *:after {
    box-sizing: inherit;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.main {
    margin: 0 auto;
    width: 1138px;
}
.main__best{
    height: 890px;
    display: flex;
    margin-top: 102px;
    
}
.main__left--whites{
    height: 274px;
    width: 650px;
    display: flex;
    background-color: #e6eef0;
    overflow: hidden;
    justify-content: space-between; 
}
.main__name--lefttop {
    margin-top: 110px;
    margin-left: 30px;
}
.main__best h2 {
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 93px;
}
.main__best a{
    color: #696969;
    font-size: 10px;
    line-height: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}
.main__left--summer{
    width: 648px;
    height: 438px;
    overflow: hidden;
    background-color: #fbfafa;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.main__left--summer h2 {
    width: 104px;
}
.main__name--leftbot{
    margin-top: 198px;
    margin-left: 35px;
}
.main__right {
    margin-left: 30px;
}
.main__right--red{
    display: flex;
    width: 450px;
    height: 440px;
    overflow: hidden;
    justify-content: space-between;
    background-color: #f5f5f5;
    
}
.main__right--black {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: #e6eef0;
    width: 457px;
    height: 278px;
    margin-top: 47px;
}
.main__name--righttop {
    margin-top: 328px;
    margin-left: 30px;
}
.main__name--rightbot {
    margin-top: 43px;
    margin-left: 30px;
}

.main__products {
    display: flex;
}
.product-item {
    width: 359px;
    height: 457px;
    overflow: hidden;
    position: relative;
}
.item-btn{
   position: absolute;
   text-align: center;
   margin: 0px auto;
   top: -150px;
   left: 92px;
   display: none;
}
.item-btn a:nth-child(1){
    display:  block;
    width: 170px;
    height: 43px;
    background-color: #000;
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 43px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
}
.item-btn a:nth-child(2) {
    display: block;
    width: 170px;
    height: 43px;
    font-size: 14px;
    line-height: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 43px;
    margin-top: 10px;
    border: 1px solid black;
    color: #000;
}
.main__products--des {
    position: absolute;
    top: 260px;
    height: 197px;  
}
.main__content--item {
    display: flex;
}
.main__products--des p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.5px;
}
.main__product--price p {
    color: #00cccc;
    font-size: 24px;
    line-height: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 27px;
    margin-left: 29px;
}
.main__product--sizes {
    margin-top: 25px;
    margin-left: 30px;
    display: none;
}
.main__products--des h2 {
    font-size: 14px;
    line-height: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
}
.select-color {
    display: flex;
    margin-top: 6px;
}
.select-color>div {
    padding: 0px 5px
}
.main__product--color span {
    font-size: 14px;
    line-height: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    
}
.main__product--color{
    margin-top: 17px;
    margin-left: 30px;
    display: none;
}
.item-name {
    display: flex;
    margin-top: 128px;
    background-color: white;
    width: 50rem;
    height: 70px;
    transition: all 1.5s;
}
.item-name>div:nth-child(1){
    margin-left: 29px;
    margin-top: 20px;
}
.product-item {
    margin-left: 34px;
    box-shadow: 5px 10px 15px #888888
}

.product-item:hover .main__product--sizes {
    display: block;
    transition: all 1s;
}
.product-item:hover .main__product--color {
    display: block;
    transition: all 1s;
}
.product-item:hover .item-btn {
    display: block;
    transition: all 1s;
}
.product-item:hover .item-name {
   margin-top: 0px;
}
.product-item:hover .main__products--des{
top: 260px;
height: 197px;
width: 100%;
background-color: white;
}
.main__products--two {
    margin-top: 74px;
}

input[type='radio']#red:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    
}

input[type='radio']#blue:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: blue;
    content: '';
    display: inline-block;
    visibility: visible;
    
}
input[type='radio']#orrage:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: orange;
    content: '';
    display: inline-block;
    visibility: visible;
    
}
input[type='radio']#aqua:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: aqua;
    content: '';
    display: inline-block;
    visibility: visible;
    
}
input[type='radio']#red:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid red;
}
input[type='radio']#orrage:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: orange;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid :orange;
}
input[type='radio']#aqua:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: aqua;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid aqua;
}
input[type='radio']#blue:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:blue ;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid blue;
}
